<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>308289860021-rn40v5fju19mdchrelqq1rurfjal08it.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.308289860021-rn40v5fju19mdchrelqq1rurfjal08it</string>
	<key>API_KEY</key>
	<string>AIzaSyAJT4m9ucT3GsXMMJ9DFTJbpeIUJE_3jwE</string>
	<key>GCM_SENDER_ID</key>
	<string>308289860021</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.controllingEsp8266WithFirebaseAndFlutter</string>
	<key>PROJECT_ID</key>
	<string>myfolio-ecb89</string>
	<key>STORAGE_BUCKET</key>
	<string>myfolio-ecb89.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:308289860021:ios:39acfad36e661ea090e9fc</string>
</dict>
</plist>